<% provide(:title, 'Experiences | S:K') %> 


<section id='intro'> 

		<h1>Experiences</h1>

		<p> 
			I've just built <strong>this website and blog</strong> from scratch <em>(Can you still say you built something from scratch when you've used Rails? Granted, I didn't use scaffolding but Rails does so much work for you from the get-go).</em>
			<br></br>

			Future projects include: solving the problem of uncomfortable shoes, a book club app, and an integrated search engine for medieval manuscripts. <em>(What can I say? It was the most annoying aspect of being a scholar. Just because we studied the Middle Ages didn't mean we had to work like we lived in 13th century).</em> Of course, I must also continue to fill the gaping holes of my <%=link_to 'CS knowledge', '/resources' %> and document the <%=link_to 'process', '/blog' %>.


			<h2>Online Marketing Coordinator</h2>

			<p>
			Did some stuff with excel, SEO, and Google Analytics
			</p>

			<h2>Graduate Student at Oxford University</h2> 
			<p>
			Looked at some super old manuscripts. Touched them too.
			</p>

			<h2>History Student at UC Berkeley</h2> 
			<p>
			Studied a lot. Took on some side jobs as well.
			</p>
</section> 


