<% provide(:title, 'Home | S:K') %> 
<section id="intro"> 
		<h1>About</h1>
		<p>
I’m an aspiring hacker with a rather random background in Medieval Studies. I spent a few years communing with dead societies (history major) and looking at very old books made of cowhide <%=link_to "(like this one)", "http://auchinleck.nls.uk/", :target => '_blank' %>. <br></br> 

Oxford was a bit too cold and the idea of pursuing an esoteric subject for the rest of my life was a bit dreary.<br></br> 

So, back in the SF Bay Area, I’ve a masochistic tendency to supplement full-time work with rest-of-the-time-learning-to-code. 
<br></br> 

And the rest, I guess, is <%=link_to "history", '/experience' %>.
<br></br>

</section>
