<% provide(:title, 'Site Admin | S:K') %> 
<section id="intro"> 
	<h1>Site Admin</h1>
	<p>
	Here you can theoretically edit the entire site:<br> 

	<%= link_to "View and Edit All Posts", admin_posts_path %> 
	</p> 

</section>
	