<h1>Editing post</h1>
<section id='intro'> 

<%= render "form" %> 

<%= link_to 'Show', admin_post_path(@post) %> | 
<%= link_to 'Back', admin_post_path %> 
<!-- url: admin_post_path--> 

</section>

