<div id="social_media">
	<ul> 

<li><%= link_to image_tag("twitter.png"), "http://www.twitter.com/sarahbkim", target: '_blank' %></li> 

<li> <%= link_to image_tag("github_alt.png"), "http://www.github.com/sarahbkim", target: '_blank' %></li> 

<li><%= link_to image_tag("google_plus.png"), "https://plus.google.com/117562047072478523775/posts", target: '_blank' %></li>

<li><%= link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/sarah-bo-hyun-kim/2a/38b/7bb", target: '_blank' %>
	</li>
</ul> 
</div> 
