<nav id="nav">
	<ul>
		<li><div class="logo"> 
			<p>S:K</p>
		</div> </li> 
		<li><%= link_to "HOME", root_path%></li>
		<li><%= link_to "EXPERIENCES", experience_path %> </li>
		<li><%= link_to "RESOURCES", resources_path %></li>
		<li><%= link_to "BLOG", blog_path %> </li>
	</ul> 
</nav> 

